{% extends 'base.html.twig' %}

{% block title %}{{ title }} - {{ subtitle }}{% endblock %}
{% block specificstylesheets %}
	<link rel="stylesheet" href="/assets/css/account/login.css">
{% endblock %}
{% block specifictopjavascript %}
	<script src="/assets/js/account/login.js" defer></script>
{% endblock %}
{% block optional %}{% endblock %}
{% block globalpagecontent %}
	{{ include('layout/header.html.twig') }}
{% endblock %}

{% block specificpagecontenttop %}{% endblock %}
{% block specificpagecontentmid %}
	<div class="container pt-2">
		<div class="row justify-content-center">
			<div class="col-lg-5">
				<h1 class="text-center">{{ title }}</h1>
				<form class="form" action="/">
					<div>
						<label for="form_email" class="required">Email</label>
						<input type="email" id="form_email" name="form_email" required="required" class="form-control mb-2">
					</div>
					<div>
						<label for="form_password" class="required">Password</label>
						<input type="password" id="form_password" name="form_password" required="required" class="form-control mb-3">
					</div>
					<button type="submit" class="btn btn-primary mt-2">Login</button>
				</form>
				<a href="/account/register">Register</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block specificpagecontentbot %}
	{{ include('layout/footer.html.twig') }}
{% endblock %}

{% block specificbottomjavascript %}{% endblock %}