{% extends 'base.html.twig' %}

{% block title %}{{ title }} - {{ subtitle }}{% endblock %}
{% block specificstylesheets %}
	<link rel="stylesheet" href="/assets/css/user.css">
{% endblock %}
{% block specifictopjavascript %}
	<script src="/assets/js/user.js" defer></script>
{% endblock %}
{% block optional %}{% endblock %}
{% block globalpagecontent %}
	{{ include('layout/header.html.twig') }}
{% endblock %}

{% block specificpagecontenttop %}{% endblock %}
{% block specificpagecontentmid %}
	<div class="container pt-2">
		<div class="row justify-content-center">
			<div class="col-lg-5">
				<h1 class="text-center">{{ title }}</h1>
				{{ form_start(form) }}
				{{ form_widget(form) }}
				{{ form_end(form) }}
				<a href="/user">Back</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block specificpagecontentbot %}
	{{ include('layout/footer.html.twig') }}
{% endblock %}

{% block specificbottomjavascript %}{% endblock %}