{% extends 'base.html.twig' %}

{% block title %}{{ title }} - {{ subtitle }}{% endblock %}
{% block specificstylesheets %}
	<link rel="stylesheet" href={{ asset("/assets/css/user.css") }}>
{% endblock %}
{% block specifictopjavascript %}
	<script src={{ asset("/assets/js/user.js") }} defer></script>
{% endblock %}
{% block optional %}{% endblock %}
{# {% block globalpagecontent %}{% endblock %} #}
{% block userlogin %}{{ userlogin }}{% endblock %}

{% block specificpagecontenttop %}{% endblock %}
{% block specificpagecontentmid %}
	<div class="container pt-2">
		<div class="row justify-content-center">
			<div class="col-lg-5">
				<h1 class="text-center">{{ title }}</h1>
				<form class="form" action="/process/puser_update/{{ form[0]['id'] }}" method="POST">
					<div>
						<label for="id" class="required">Id</label>
						<input type="text" id="id" name="id" value={{ form[0]['id'] }} placeholder="0123" class="form-control mb-2" required disabled>
					</div>
					<div>
						<label for="name" class="required">Name</label>
						<input type="text" id="name" name="name" value={{ form[0]['name'] }} placeholder="User One" class="form-control mb-2" required>
					</div>
					<div>
						<label for="email" class="required">Email</label>
						<input type="email" id="email" name="email" value={{ form[0]['email'] }} placeholder="user@email.com" class="form-control mb-2" required>
					</div>
					<button type="submit" class="btn btn-primary mt-2">Update</button>
				</form>
				<a href={{ path("user") }}>Back</a>
			</div>
		</div>
	</div>
{% endblock %}
{# {% block specificpagecontentbot %}{% endblock %} #}

{% block specificbottomjavascript %}{% endblock %}